In [34]:
import pandas as pd

# How to think about the Data

Note, we will likely just use the training data + potentially the testing data too, but ignore all things API related, although I include how to access them here

## Grabbing the Training Data

In [35]:
## How to read the training data now
file_path = "optiver_training_data/train_part_1.csv.zip"
df_1 = pd.read_csv(file_path, compression='zip')

file_path = "optiver_training_data/train_part_2.csv.zip"
df_2 = pd.read_csv(file_path, compression='zip')

file_path = "optiver_training_data/train_part_3.csv.zip"
df_3 = pd.read_csv(file_path, compression='zip')

In [36]:
df = pd.concat([df_1, df_2, df_3], ignore_index=True)
df.head()

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.0,-3.029704,0,0_0_0
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.0,-5.519986,0,0_0_1
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.0,-8.389950,0,0_0_2
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.0,-4.010200,0,0_0_3
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.0,-7.349849,0,0_0_4

In [37]:
df["stock_id"].nunique()

200

In [38]:
df["date_id"].nunique()

481

In [39]:
df["time_id"].nunique()

26455

In [40]:
len(df)

5237980

In [41]:
df.isna().sum()

stock_id                         0
date_id                          0
seconds_in_bucket                0
imbalance_size                 220
imbalance_buy_sell_flag          0
reference_price                220
matched_size                   220
far_price                  2894342
near_price                 2857180
bid_price                      220
bid_size                         0
ask_price                      220
ask_size                         0
wap                            220
target                          88
time_id                          0
row_id                           0
dtype: int64

In [42]:
# False means time_id and stock_id are primary keys of the df
df.duplicated(subset=['time_id', 'stock_id']).any()

np.False_

## Extra Folder: optiver-trading-at-the-close/example_test_files

Data intended to illustrate how the API functions. Includes the same files and columns delivered by the API. The first three date ids are repeats of the last three date ids in the train set, to enable an illustration of how the API functions.

In [43]:
revealed_targets_csv = "optiver-trading-at-the-close/example_test_files/revealed_targets.csv"
revealed_targets_df = pd.read_csv(revealed_targets_csv)
revealed_targets_df

# When the first time_id for each date (i.e. when seconds_in_bucket equals zero) 
# the API will serve a dataframe providing the true target values for the entire 
# previous date. All other rows contain null values for the columns of interest.

,stock_id,date_id,seconds_in_bucket,time_id,revealed_target,revealed_date_id,revealed_time_id
0,0.0,478,0,26290,-2.310276,477.0,26235.0
1,1.0,478,0,26290,-12.850165,477.0,26235.0
2,2.0,478,0,26290,-0.439882,477.0,26235.0
3,3.0,478,0,26290,7.259846,477.0,26235.0
4,4.0,478,0,26290,4.780292,477.0,26235.0
...,...,...,...,...,...,...,...
33157,NaN,480,500,26450,NaN,NaN,NaN
33158,NaN,480,510,26451,NaN,NaN,NaN
33159,NaN,480,520,26452,NaN,NaN,NaN
33160,NaN,480,530,26453,NaN,NaN,NaN
33161,NaN,480,540,26454,NaN,NaN,NaN

In [44]:
revealed_targets_df.isna().sum()

stock_id             162
date_id                0
seconds_in_bucket      0
time_id                0
revealed_target      162
revealed_date_id     162
revealed_time_id     162
dtype: int64

In [45]:
# A valid sample submission, delivered by the API.
sample_submission_csv = "optiver-trading-at-the-close/example_test_files/sample_submission.csv"
sample_submission_df = pd.read_csv(sample_submission_csv)
sample_submission_df

       time_id       row_id  target
0        26290      478_0_0       0
1        26290      478_0_1       0
2        26290      478_0_2       0
3        26290      478_0_3       0
4        26290      478_0_4       0
...        ...          ...     ...
32995    26454  480_540_195       0
32996    26454  480_540_196       0
32997    26454  480_540_197       0
32998    26454  480_540_198       0
32999    26454  480_540_199       0

[33000 rows x 3 columns]

In [46]:
test_csv = "optiver-trading-at-the-close/example_test_files/test.csv"
test_df = pd.read_csv(test_csv)
test_df

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,time_id,row_id,currently_scored
0,0,478,0,3753451.43,-1,0.999875,11548975.43,NaN,NaN,0.999875,22940.00,1.000050,9177.60,1.000000,26290,478_0_0,False
1,1,478,0,985977.11,-1,1.000245,3850033.97,NaN,NaN,0.999940,1967.90,1.000601,19692.00,1.000000,26290,478_0_1,False
2,2,478,0,599128.74,1,1.000584,4359198.25,NaN,NaN,0.999918,4488.22,1.000636,34955.12,1.000000,26290,478_0_2,False
3,3,478,0,2872317.54,-1,0.999802,27129551.64,NaN,NaN,0.999705,16082.04,1.000189,10314.00,1.000000,26290,478_0_3,False
4,4,478,0,740059.14,-1,0.999886,8880890.78,NaN,NaN,0.999720,19012.35,1.000107,7245.60,1.000000,26290,478_0_4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32995,195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,26454,480_540_195,False
32996,196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,26454,480_540_196,False
32997,197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,26454,480_540_197,False
32998,198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,26454,480_540_198,False
32999,199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,26454,480_540_199,False

In [47]:
test_df.isna().sum()

stock_id                       0
date_id                        0
seconds_in_bucket              0
imbalance_size                 0
imbalance_buy_sell_flag        0
reference_price                0
matched_size                   0
far_price                  18229
near_price                 18000
bid_price                      0
bid_size                       0
ask_price                      0
ask_size                       0
wap                            0
time_id                        0
row_id                         0
currently_scored               0
dtype: int64

### Extra Folder: optiver-trading-at-the-close/optiver2023

Files that enable the API. Expect the API to deliver all rows in under five minutes and to reserve less than 0.5 GB of memory. The first three date ids delivered by the API are repeats of the last three date ids in the train set, to better illustrate how the API functions. You must make predictions for those dates in order to advance the API but those predictions are not scored.

Extra File: public_timeseries_testing_util.py

- An optional file intended to make it easier to run custom offline API tests. See the script's docstring for details. You will need to edit this file before using it.